<footer>
  <div class="footer-inner">
    <div class="footer-logo">In B. &amp; B. <span>S.r.l</span></div>
    <ul class="footer-links">
      <li><a href="/servizi">Servizi</a></li>
      <li><a href="/chi-siamo">Chi siamo</a></li>
      <li><a href="/contatti">Contatti</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <div class="footer-copy">&copy; <%= new Date().getFullYear() %> In B. &amp; B. S.r.l</div>
  </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>
